<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Истории</title>
</head>
<h1>Список всех историй</h1>
<link href="/style" rel="stylesheet" />
<body>
<a href="/">Главная</a>
<table>
    <thead>
    <tr>
        <td>Номер</td>
        <td>ID</td>
        <td>Название</td>
        <td>Просмотр</td>
        <td>Удалить</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="history, iterator: ${histories}">
        <td th:text="${iterator.index+1}"></td>
        <td th:text="${history.id}"></td>
        <td th:text="${history.name}"></td>
        <td><a th:href="@{/history/{id}(id=${history.id})}">Посмотреть</a></td>
        <td><a th:href="@{/history/delete/{id}(id=${history.id})}">Удалить</a></td>
    </tr>
    </tbody>
    <tr>
        <td th:text='${"PageNumber : " + (page + 1)}'></td>
        <td>
            <a th:href="@{/histories(page=${page} - 1)}">LAST</a>
        </td>
        <td>
            <a th:href="@{/histories(page=${page} + 1)}">NEXT</a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/history/create}">Создать</a>
        </td>
        <td>
            <a th:href="@{/history/delete}">Удалить по айди</a>
        </td>
    </tr>
</table>
</body>
</html>
