<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Подробная история</title>
    <link href="resources/style.css" rel="stylesheet" />
</head>
<h1>История</h1>
<body>
<a href="/">Главная</a>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Уровень</td>
        <td>Тип истории</td>
        <td>детал.ID</td>
        <td>детал.Название</td>
        <td>детал.Значение</td>
        <td>Изменить</td>
        <td>Список всех пользователей</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${history.id}"></td>
        <td th:text="${history.name}"></td>
        <td th:text="${history.historyType}"></td>
        <td th:text="${history.historyLevel}"></td>
        <td th:text="${history.detailId}"></td>
        <td th:text="${history.detailName}"></td>
        <td th:text="${history.value}"></td>
        <td><a th:href="@{/histories}">Список всех историй</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>