<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователь</title>
</head>
<h1>Профиль</h1>
<body>

<table>
    <a href="/">Главная</a>
    <thead>
    <tr>
        <td>ID</td>
        <td>Имя</td>
        <td>Область</td>
        <td>Изменить</td>
        <td>Список всех регинов</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${region.id}" />
        <td th:text="${region.name}" />
        <td th:text="${region.area}" />
        <td><a th:href="@{/region/update/{id}(id=${region.id})}">Изменить</a></td>
        <td><a th:href="@{/regions}">Все пользователи</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>