body {
    background-image: url(https://static9.depositphotos.com/1594308/1110/i/600/depositphotos_11107478-stock-photo-fantasy.jpg);
}
table, th, td {
    background: rgba(255, 126, 74, 0.5);
    margin: 0 auto;
    border: 1px solid black;
    alignment: center;
}
h1 {
    color: #ff7e4a;
}