body {
    background-image: url(resources/background.png);
}
table, th, td {
    background: rgba(255, 126, 74, 0.5);
    margin: 0 auto;
    border: 1px solid black;
    alignment: center;
}
h1 {
    color: #ff7e4a;
}