<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Пользователи</title>
</head>
<h1>Hi from html</h1>
<body>

<table>
    <thead>
    <tr>
        <td>Номер</td>
        <td>Название</td>
        <td>удалить</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client, iterator: ${clients}">
        <td th:text="${iterator.index+1}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.surname}"></td>
        <td th:text="${client.login}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>
